body{
    margin-left:-10px;
}

label,input{
    text-align:center;
    font-size:15px;
}


#div_body{
    overflow:auto;
}


#searchcode {
    font-size: 15px;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    background: #e3efff;
    cursor: pointer;
    margin-left: 5px;
}

    #searchcode:hover {
        background: #f7f091;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

#table_data {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:1000px;
  
}

    #table_data th {
        font-size: 15px;
        background: #d2d2d2;
        border: 1px solid black;
        cursor: pointer;
        padding: 5px;
        text-align: center;
    }

    #table_data td {
        font-size: 15px;
        background: white;
        border: 1px solid black;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }


    #table_data tr:nth-child(odd) td {
        background: #a9e285;
    }

    #table_data tr:hover td {
        background: #fffd9c;
    }




